@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Student Record Lookup</h1>

<p>Use this website to look up past transcripts and current schedules for connected colleges.</p>

@if (Model.Error != null)
{
    <div class="alert alert-warning" role="alert">
        @Model.Error
    </div>
}
else
{
    <form method="get" action="/Records">
        <p>
            College<br />
            <select name="CollegeId">
                @foreach (var item in Model.Colleges)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </p>
        <p>
            Student Number<br />
            <input name="StudentNumber" type="text" />
        </p>
        <p>
            Last Name<br />
            <input name="LastName" type="text" />
        </p>
        <p>
            <input type="submit" value="Search" />
        </p>
    </form>
}
