@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--
    Hardcoded college picker for Longhorn Council 2021    
-->
<div class="row">
    <h4 class="text-center mx-auto">
        Which shool are you looking for?
    </h4>
</div>
<div class="row justify-content-center">
    <div class="col-md-5 col-sm-12 my-3 text-center ">
        <a href="/UofS" class="collegeLinkHover">
            <img src="https://picsum.photos/300/400?random=1"/>
            <h5 class="mt-3">University of Scouting</h5>
        </a>
    </div>
    <div class="col-md-1" id="OR">
        <div class="d-lg-flex d-none">
            <hr/><span>OR</span><hr/>
        </div>
    </div>
    <div class="col-md-5 col-sm-12 my-3 text-center ">
        <a href="/CCS" class="collegeLinkHover">
            <img src="https://picsum.photos/300/400?random=2"/>
            <h5 class="mt-3">College of Commissioner Science</h5>
        </a>
    </div>
</div>

<!-- 
    Commented out in favor of a statically defined landing page for
    Longhorn Council 2021 UofS and CCS.  If this package us being used
    without the UofS and CCS landing pages, or if you want a single login
    form with colleges listed in a drop down box, this can section can be
    restored by uncommenting it.
--

<h1>Student Record Lookup</h1>

<p>Use this website to look up past transcripts and current schedules for connected colleges.</p>

@if (Model.Error != null)
{
    <div class="alert alert-warning" role="alert">
        @Model.Error
    </div>
}
else
{
    <form method="get" action="/Records">
        <p>
            College<br />
            <select name="CollegeId">
                @foreach (var item in Model.Colleges)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </p>
        <p>
            Student Number<br />
            <input name="StudentNumber" type="text" />
        </p>
        <p>
            Last Name<br />
            <input name="LastName" type="text" />
        </p>
        <p>
            <input type="submit" value="Search" />
        </p>
    </form>
}

-->
