@page
@model ClassPortal.Pages.LoginHelpModel

@{
    ViewData["Title"] = "Login Help";
}


<h1>Login Help</h1>

<p>Your last name is case-sensitive and should be entered exactly as it appears on your membership card.  Your Student ID is your BSA Member ID.</p>

<p>Your BSA Member ID can be found in the following ways:</p>
<ul>
    <li>On your printed membership card</li>
    <li>On any printed YPT certificate or PDF</li>
    <li>In <a href="https://my.scouting.org">my.scouting.org</a> by clicking on your profile icon in the top right corner.  Your Member ID will be displayed in the drop down that appears.</li>
    <li>In the Scouting mobile app, by clicking on the "Profile" icon, and then entering the edit profile screen for your own profile.  Your Member ID will be displayed as a read-only field on that screen.</li>
    <li>In the MyScouting mobile app, by clicking on the "Profile" icon.  Your Member ID will be displayed on that screen.</li>
    <li>In <a href="https://www.scoutbook.com">Scoutbook</a>, by clicking on "My Dashboard", then "My Account", followed by "Edit Profile".  Your Member ID will be displayed as a read-only field on that screen.</li>
    <li>By asking your committee chair to look this information up for you.  It can be found on my.scouting.org in the membership roster.</li>
    <li>By emailing or calling the council service center (as a last resort only for users who are not associated with a unit and do not have access to any of the above tools)</li>
</ul>
