@page
@model ClassPortal.Pages.UofSModel

@{
    ViewData["Title"] = "University of Scouting";
}

<!--
This is a hard-coded page that is specific to Longhorn Council UofS in 2021.
If this software package is utilized by another council, then this page should
be either removed or adapted to fit the specific needs of that council.

The CollegeId of 2 specified here matches the SeedData created by the
EF database migration.  If a different CollegeId is used in production, that
will need to be adjusted or fixed to look up dynamically.

See "Buttons for Nav Bar" in Pages/Shared/_Layout.cshtml
-->

<h1>
    <img src="/img/uos.jpg" style="height:100px;"/>
    University of Scouting
</h1>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="alert alert-info mx-auto">
            <div class="h6" style="position: relative;">
                <i class="fa fa-info-circle mr-2" style="font-size: 16pt;"></i>
                <p class="d-md-inline d-sm-block">
                    You can look up transcripts and current schedules below.
                </p>
                <i class="fa fa-chevron-down" id="infoPanelToggle" style="font-size: 15pt;" title="Toggle information panel" onclick="infoPanelToggle()"></i>
            </div>
            <div id="form-info">
                <hr class="my-1"/>
                Your Member ID is your BSA Member ID from your membership card or my.scouting.org.  Your last name is case-sensitive and should be entered exactly as it appears on your membership card.  For more information, see the <a href="/LoginHelp">Login Help</a> page.
            </div>
        </div>
        <form method="get" action="/Records" class="mx-auto">
            <input type="hidden" name="CollegeId" value="1"/>
            <div class="row">
                <div class="col-lg-5 col-sm-12 mt-2">
                    <label for="StudentNumber" class="sr-only">Student Number</label>
                    <input name="StudentNumber" id="StudentNumber" type="text" class="form-control" placeholder="Member ID"/>
                </div>
                <div class="col-lg-5 col-sm-12 mt-2">
                    <label for="LastName" class="sr-only">Last Name</label>
                    <input name="LastName" id="LastName" type="text" class="form-control" placeholder="Last Name"/>
                </div>
                <div class="col-lg-1 col-md-12 mt-2 text-center">
                    <button type="submit" id="recordsSearchBtn" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-sm-12">
        <ul id="importantLinks">
            <li>Catalog: <a href="https://scoutingevent.com/Download/66280606/OR/2021_University_of_Scouting_Full_Event_Catalog.pdf">Download the PDF</a></li>
            <li>Registration: <a href="https://scoutingevent.com/662-UoS_2021">Register Online</a></li>
            <li>Degree Application: <a href="https://forms.gle/AimG42YBc4K4fGXZ8">Fill out the Form</a></li>
        </ul>
        <p>To receive a degree you must complete an application!</p>
    </div>
</div>