@page
@model ClassPortal.Pages.UofSModel

@{
    ViewData["Title"] = "University of Scouting";
}

<!--
This is a hard-coded page that is specific to Longhorn Council UofS in 2021.
If this software package is utilized by another council, then this page should
be either removed or adapted to fit the specific needs of that council.

The CollegeId of 2 specified here matches the SeedData created by the
EF database migration.  If a different CollegeId is used in production, that
will need to be adjusted or fixed to look up dynamically.

See "Buttons for Nav Bar" in Pages/Shared/_Layout.cshtml
-->

<h1>
    <img src="https://picsum.photos/300/400?random=1" class="rounded-circle" style="width:100px; height:100px;"/>
    University of Scouting
</h1>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="alert alert-info mx-auto">
            <div class="h6" style="position: relative;">
                <i class="fa fa-info-circle mr-2" style="font-size: 16pt;"></i>
                <p class="d-md-inline d-sm-block">
                    You can look up transcripts and current schedules below.
                </p>
                <i class="fa fa-chevron-down" id="infoPanelToggle" style="font-size: 15pt;" title="Toggle information panel" onclick="infoPanelToggle()"></i>
            </div>
            <div id="form-info" style="overflow-y: hidden; display:none;">
                <hr class="my-1"/>
                Your last name is <b>case-sensitive</b> and should be entered exactly as it appears on your membership card. 
                <b>Your Student ID is your BSA Member ID</b>. For more information, see the <a href="/LoginHelp">Login Help</a> page.
            </div>
        </div>
        <form method="get" action="/Records" class="mx-auto">
            <input type="hidden" name="CollegeId" value="1"/>
            <div class="row">
                <div class="col-lg-5 col-sm-12 mt-2">
                    <label for="StudentNumber" class="sr-only">Student Number</label>
                    <input name="StudentNumber" id="StudentNumber" type="text" class="form-control" placeholder="Student Number"/>
                </div>
                <div class="col-lg-5 col-sm-12 mt-2">
                    <label for="LastName" class="sr-only">Last Name</label>
                    <input name="LastName" id="LastName" type="text" class="form-control" placeholder="Last Name"/>
                </div>
                <div class="col-lg-1 col-md-12 mt-2 text-center">
                    <button type="submit" id="recordsSearchBtn" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-sm-12">
        <p>Important Links:</p>
        <ul id="importantLinks">
            <li>Catalog: TBD</li>
            <li>Registration: TBD</li>
            <li>Degree Application (to receive a degree you must complete an application): <a href="https://forms.gle/AimG42YBc4K4fGXZ8">https://forms.gle/AimG42YBc4K4fGXZ8</a></li>
        </ul>
    </div>
</div>